#### Task 1 
Let us say your expense for every month are listed below,
1. January -  2200
2. February - 2350
3. March - 2600
4. April - 2130
5. May - 2190

Create a list to store these monthly expenses and using that find out,
1. In Feb, how many dollars you spent extra compare to January?

In [10]:
expenses = [2200, 2350, 2600, 2130, 2190]
extra_spend=expenses[1]-expenses[0]
print('Extra spent in February as compare to January: $',extra_spend)

Extra spent in february as compare to January: $ 150

2. Find out your total expense in first quarter (first three months) of the year.

In [13]:
expenses = [2200, 2350, 2600, 2130, 2190]
total_quarter= expenses[0]+expenses[1]+expenses[2]
print('The total quarter expenses of the year: $',total_quarter)

The total quarter expenses of the year: $ 7150

3. Find out if you spent exactly 2000 dollars in any month

In [14]:
expenses = [2200, 2350, 2600, 2130, 2190]
print('If I spent excatly $2000 in any months:', 2000 in expenses)

If I spent excatly $2000 in any months: False

4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [17]:
expenses = [2200, 2350, 2600, 2130, 2190]
expenses.append(1980)
print('Total expenses from January to June:',expenses)

Total expenses from January to June: [2200, 2350, 2600, 2130, 2190, 1980]

5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [22]:
expenses = [2200, 2350, 2600, 2130, 2190]
expenses[3]=expenses[3]- 150
print('Spend on April: $', expenses[3])
print('Total expenses:',expenses)

Spend on April: $ 1980
Total expenses: [2200, 2350, 2600, 1980, 2190]

#### Task 2
You have a list of your favourite marvel super heros.

heros=['spider man','thor','hulk','iron man','captain america']

Using this find out,
1. Length of the list

In [23]:
heroes=['spider man','thor','hulk','iron man','captain america']
len(heroes)

5

2. Add 'black panther' at the end of this list

In [26]:
heroes=['Spider Man','Thor','Hulk','Iron Man','Captain America']
heroes.append('Black Panther')
print('Heroes:',heroes)

Heroes: ['Spider Man', 'Thor', 'Hulk', 'Iron Man', 'Captain America', 'Black Panther']

3. You realize that you need to add 'black panther' after 'hulk',
so remove it from the list first and then add it after 'hulk'

In [34]:
heroes=['Spider Man', 'Thor', 'Hulk', 'Iron Man', 'Captain America', 'Black Panther']
heroes.remove("Black Panther")
heroes.insert(3,'Black Panther')
print('Heroes:',heroes)

Heroes: ['Spider Man', 'Thor', 'Hulk', 'Black Panther', 'Iron Man', 'Captain America']

4. Now you don't like thor and hulk because they get angry easily.
So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
Do that with one line of code.

In [37]:
heroes=['Spider Man', 'Thor', 'Hulk', 'Iron Man', 'Captain America', 'Black Panther']
heroes[1:3]=['Doctor Stranger']
print(heroes)

['Spider Man', 'Doctor Stranger', 'Iron Man', 'Captain America', 'Black Panther']

5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [39]:
heroes=['Spider Man', 'Doctor Stranger', 'Iron Man', 'Captain America', 'Black Panther']
heroes.sort()
print(heroes)

['Black Panther', 'Captain America', 'Doctor Stranger', 'Iron Man', 'Spider Man']