# Calculating number with functions

In [1]:
# abs(x) returns the absolute value of number x ( converts negative numbers to positive)
x = -5
y = abs(x)
print(x)
print(y)

-5
5

In [2]:
# round(x, y) rounds the number x to y number of decimal places.
x = 1.23457453422
y = round(x, 4)
print(x)
print(y)

1.23457453422
1.2346

### Some built in python functions for numbers

In [31]:
pi = 3.14159265358979
x = 128
y = -345.67890987
z = -999.9999
# abs(x) returns the absolute value of number x ( converts negative numbers to positive)
print(abs(z))
# int(x) converts x to the integer data type by truncating (not rounding) the decimal portion and any digits after it.
print(int(z))
print(int(abs(z)))
# round(x, y) rounds the number x to y number of decimal places.
print(round(pi, 4))
# bin(x) returns a string representing the value of x converted to binary.
print(bin(x))
# hex(x) returns a string containing x converted to hexadecimal, prefixed with 0x.
print(hex(x))
# oct(x) converts x to an octal number, prefixes with 0o to indicate octal
print(oct(x))
# max(x,y,z,.....) takes any number of numeric arguments and returns whichever is the largest.
print(max(pi, x, y, z))
# min(x, y, z, ....) takes any number of numeric arguments and returns whichever is the smallest.
print(min(pi, x, y, z))
# type (x) returns a string indicating the data type of x
print(type(x))
print(type(pi))
# str (x) converts the number x to the string data type
print(type(str(y)))
print(int(abs(z)))

999.9999
-999
999
3.1416
0b10000000
0x80
0o200
128
-999.9999
<class 'int'>
<class 'float'>
<class 'str'>
999

# Still more of the math functions

In [34]:
import math
z = 81
print(math.sqrt(z))

9.0

### Some functions from the python math module

In [46]:
import math
# math.pi returns the mathematical constant pi(3.141592...)
pi = math.pi
# math.e returns e raised to the power x, where e is the base of natural logarithms
e = math.e
# math.tau() returns the mathematical constant tau(6.283185...)
tau = math.tau
x = 81
y = 7
z = -23234.5454
print(pi)
print(e)
print(tau)
# math.sqrt(x) returns the square root of x
print(math.sqrt(x))
# math.factorial(x) returns the factorial of x
print(math.factorial(y))
# math.floor() returns the floor of x, the largest integer less than or equal to x
print(math.floor(z))
# math.degrees(x) converts angle x from radians to degrees
print(math.degrees(y))
# math.radians(x) converts angle x from degrees to radians
print(math.radians(90))

3.141592653589793
2.718281828459045
6.283185307179586
9.0
5040
-23235
401.07045659157626
1.5707963267948966

# Formating Numbers

### Formating with f-strings

In [49]:
username = "Nirjana"
print(f"Hello {username}")

Hello Nirjana

In [51]:
unit_price = 49.99
quantity = 30
print(f"Subtotal: ${quantity * unit_price}")

Subtotal: $1499.7

### Showing dollar amounts

In [53]:
# To show commas in thousands places, we use comma in format string right after the colon, like this :,
print(f"Subtotal: ${quantity * unit_price:,}")
# To get the pennies to show as two digits, follow the comma with .2f
print(f"Subtotal: ${quantity * unit_price:,.2f}")

Subtotal: $1,499.7
Subtotal: $1,499.70

### Formatting percent numbers

In [54]:
sales_tax_rate = 0.065
print(f"Sales Tax Rate {sales_tax_rate}")

Sales Tax Rate 0.065

In [58]:
# To use more familiar 6.5% format rather than 0.065, we replace f from .2f with %%
print(f"Sales Tax Rate {sales_tax_rate:.2%}")
# we used 2 to get the two digit number, we can use 1 to get the 1 digit number
print(f"Sales Tax Rate {sales_tax_rate:.1%}")
print(f"Sales Tax Rate {sales_tax_rate:.7%}")

Sales Tax Rate 6.50%
Sales Tax Rate 6.5%
Sales Tax Rate 6.5000000%

### Making multiline format strings

In [1]:
# place \n in single line format if we want a line break
user1 = "Alberto"
user2 = "Babs"
user3 = "Carlos"
output = f"{user1} \n{user2} \n{user3}"
print(output)

Alberto
Babs
Carlos

In [3]:
# Use Triple quotation marks (single or double), so that we don't need to add \n in the format string, we can break it wherever we want.
unit_price = 49.95
quantity = 32
sales_tax_rate = 0.865
subtotal = quantity * unit_price
sales_tax = sales_tax_rate * subtotal 
total = subtotal + sales_tax
output = f"""
Subtotal: ${subtotal:,.2f}
Sales Tax: ${sales_tax:,.2f}
Total: ${total:,.2f}
"""
print(output)

Subtotal: $1,598.40
Sales Tax: $1,382.62
Total: $2,981.02

### Formatting width and alignment

In [7]:
# we can control the width of the output by using colon in the f string, <(left aligned), ^(centered aligned), >(right aligned)
unit_price = 49.95
quantity = 32
sales_tax_rate = 0.065
subtotal = quantity * unit_price
sales_tax = sales_tax_rate * subtotal 
total = subtotal + sales_tax
output = f"""
Subtotal: ${subtotal:>9,.2f}
Sales Tax: ${sales_tax:>9,.2f}
Total: ${total:>9,.2f}
"""
print(output)

Subtotal: $ 1,598.40
Sales Tax: $   103.90
Total: $ 1,702.30

In [10]:
# Numerical values
unit_price = 49.95
quantity = 32
sales_tax_rate = 0.065
subtotal = quantity * unit_price
sales_tax = sales_tax_rate * subtotal 
total = subtotal + sales_tax

# Format amounts to show as string with leading dollar sign
s_sales_tax = "$" + f"{sales_tax:,.2f}"
s_subtotal = "$" + f"{subtotal:,.2f}"
s_total = "$" + f"{total:,.2f}"

# Output the string with dollar sign already attached
output = f"""
Subtotal: {s_subtotal:>9}
Sales Tax: {s_sales_tax:>9}
Total: {s_total:>9}
"""
print(output)

Subtotal: $1,598.40
Sales Tax:   $103.90
Total: $1,702.30

# Grappling with weirder numbers

### Binary, octal and hexadecimal numbers

In [19]:
x = 255
# Convert decimal to other number systems
print(bin(x))
print(oct(x))
print(hex(x))

#Show number in decimal number system (no conversion required)
print(0b11111111)
print(0o377)
print(0xff)

0b11111111
0o377
0xff
255
255
255

### Complex numbers

In [23]:
z = complex(2, -3)
print(z)
print(z.real)
print(z.imag)

(2-3j)
2.0
-3.0

# Manipulating Strings

### Concatenating strings

In [27]:
first_name = "Nirjana"
middle_name = "B"
last_name = "Shrestha"
full_name = first_name + middle_name + last_name
print(full_name)

NirjanaBShrestha

In [26]:
first_name = "Nirjana"
middle_name = "B"
last_name = "Shrestha"
full_name = first_name +" "+ middle_name +" " + last_name
print(full_name)

Nirjana B Shrestha

### Getting the length of the string

In [29]:
s1 = ""
s2 = " "
s3 = "A B C"
print(len(s1))
print(len(s2))
print(len(s3))

0
1
5

### Working with common string operators

In [43]:
s = "Abracadabra Hocus Pocus you're a turtle dove"
# Is there a lowercase letter t is contained in s?
#  x in s returns True if x exists somewhere in strings
print("t" in s)
# Is there a uppercase letter T is contained in s?
print("T" in s)
# Is there no uppercase T in s?
# x not in s returns True if x is not contained in string s
print("T" not in s)
# Print 15 hyphens in a row
# s * n or n * s repeats string s n times
print("-" * 15) 
# Print first character in string s
# s[i]  The ith item of strings where the first character is 0
print(s[0])
# Print characters 33-39 from string s
# s[i:j] A slice from string x beginning with the character at position i through to the character at position j
print(s[33:39])
# Print every third character in s starting at zero
# s[i:j:k] A slice of s from i to j with step k
print(s[0:44:3])
# Print lowest character is s ( a space is lower than the letter a)
# min(s) is the smallest character of strings
print(min(s))
# Print the highes character is s
# max(s) is the largest or thr highest character of strings
print(max(s))
# Where is the first uppercase P?
#s.index(x[, i[, j]]) The numeric position of the first occurrence of x in strings. The optional i and j limit the search to the characters from i to j.
print(s.index("P"))
#Where is the first lowercase O in the letter half of string s
# Note that the returned value still starts counting from zero
print(s.index("o",22,44))
# How many lowercase letters a are in string s?
# s.count(x) The number of times string z appears in larger strings
print(s.count("a"))

True
False
True
---------------
A
turtle
AadrHuPuy' tt v

y
18
25
5